{% extends "index.html" %}
{% block title %} {{ post.title }} | {{ thedish.official_name }} {% endblock %}
{% block meta %}
    <meta property="og:url"       content="{{ post.absolute_url }}" />
    <meta property="og:type"      content="website" />
    <meta property="og:title"     content="{{ post.title }}" />
    <meta property="og:description"   content="{{ post.description }}" />
    <meta property="og:image" content="{{ post.five_by_two_image_src }}" />
    <meta name="description" content="{{ post.description }}" />
{% endblock %}
{% block main %}
<article class="post">
    <header>
        <div class="title">
            <h2>{{ post.title }}</h2>
            <p>{{ post.blurb }}</p>
        </div>
        <div class="meta">
            <time class="published" datetime="{{ post.publication_date.strftime('%Y-%m-%d') }}">{{ post.publication_date.strftime('%B %d, %Y') }}</time>
{% for author in post.authors %}
        <a href="{{ author.headshot_src }}" class="author"><span class="name">{{ author.line_broken_nickname | safe }}</span><img src="{{ author.headshot_src }}" alt="" /></a>
{% endfor %}
        <a class="icon fa-reddit" href="https://www.reddit.com/submit?url={{ post.absolute_url }}&title={{ post.title }}"><span class="label">Reddit</span></a>
        <a class="icon fa-twitter" href="https://twitter.com/share?text={{ post.blurb }}&url={{ post.absolute_url }}"><span class="label">Twitter</span></a>
        <a class="icon fa-facebook" href="http://www.facebook.com/sharer.php?u={{ post.absolute_url }}"><span class="label">Facebook</span></a>
        </div>
    </header>
    <span class="title image">
        <img src="{{ post.five_by_two_image_src }}" alt="Featured Article Image" /></span>
    {{ post.html | safe }}
    <footer>
        <ul class="stats">
            {% for author in post.authors %}
            <!-- <li><a href="/authors/{{ author.url_name }}">{{ author.line_broken_nickname | safe }}</a></li> -->
            <li>{{ author.line_broken_nickname | safe }}</li>
            {% endfor %}
            {% for team in post.teams %}
            <li><a href="/topics/{{ team.url_name }}">{{ team.name }}</a></li>
            {% endfor %}
            <li><a class="icon fa-reddit" href="https://www.reddit.com/submit?url={{ post.absolute_url }}&title={{ post.title }}"><span class="label">Reddit</span></a></li>
            <li><a class="icon fa-twitter" href="https://twitter.com/share?text={{ post.blurb }}&url={{ post.absolute_url }}"><span class="label">Twitter</span></a></li>
            <li><a class="icon fa-facebook" href="http://www.facebook.com/sharer.php?u={{ post.absolute_url }}"><span class="label">Facebook</span></a></li>
        </ul>
    </footer>
</article>

{% endblock %}
